body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.product-list {
  padding: 20px
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px
}

.product-card {
  background-color: cadetblue;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid orangered;
}

.product-card h2 {
  font-size: 32px;
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}